BEGIN;
--
-- Create model Attendance
--
-- (no-op)
--
-- Create model Enrollment
--
-- (no-op)
--
-- Create model Guardian
--
-- (no-op)
--
-- Create model Outcome
--
-- (no-op)
--
-- Create model Program
--
-- (no-op)
--
-- Create model ProgramStaff
--
-- (no-op)
--
-- Create model ProgramYear
--
-- (no-op)
--
-- Create model School
--
-- (no-op)
--
-- Create model Session
--
-- (no-op)
--
-- Create model Student
--
-- (no-op)
--
-- Create model User
--
-- (no-op)
--
-- Create model Need
--
CREATE TABLE "needs" ("needid" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(100) NOT NULL, "description" text NULL, "amount_needed" numeric(10, 2) NOT NULL, "current_amount" numeric(10, 2) NOT NULL, "created_at" timestamp with time zone NOT NULL, "urgency" varchar(20) NOT NULL);
--
-- Create model Survey
--
CREATE TABLE "surveys" ("survey_id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(255) NOT NULL, "description" text NULL, "created_at" timestamp with time zone NOT NULL, "program_year_id" integer NOT NULL);
--
-- Create model SurveyResponse
--
CREATE TABLE "survey_responses" ("response_id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "responses_json" jsonb NOT NULL, "submitted_at" timestamp with time zone NOT NULL, "responder_user_id" integer NOT NULL, "survey_id" integer NOT NULL);
ALTER TABLE "surveys" ADD CONSTRAINT "surveys_program_year_id_a830fe29_fk_program_y" FOREIGN KEY ("program_year_id") REFERENCES "program_years" ("program_year_id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "surveys_program_year_id_a830fe29" ON "surveys" ("program_year_id");
ALTER TABLE "survey_responses" ADD CONSTRAINT "survey_responses_responder_user_id_cf02c135_fk_users_userid" FOREIGN KEY ("responder_user_id") REFERENCES "users" ("userid") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "survey_responses" ADD CONSTRAINT "survey_responses_survey_id_f5da88e4_fk_surveys_survey_id" FOREIGN KEY ("survey_id") REFERENCES "surveys" ("survey_id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "survey_responses_responder_user_id_cf02c135" ON "survey_responses" ("responder_user_id");
CREATE INDEX "survey_responses_survey_id_f5da88e4" ON "survey_responses" ("survey_id");
COMMIT;
